.collection-page {
  display: flex;
  flex-direction: column;
  padding: 0 5%;

  .title {
    font-size: 38px;
    margin: 0 auto 10px;
  }

  hr {
    width: 100%;
    margin-bottom: 30px;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 20px 10px;

  }
}
