.register {
  display: flex;
  justify-content: space-evenly;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      width: 100%;
      box-sizing: border-box;
    }
  }
}