.button {
  margin-top: 5px;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  line-height: 50px;
  //padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #0f0f0f;
  color: #fafafa;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans Condensed', serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #fafafa;
    color: #0f0f0f;
    border: 1px solid #0f0f0f;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: #fafafa;

    &:hover {
      background-color: #375ae8;
      border: none;
    }
  }

  &.inverted {
    background-color: #fafafa;
    color: #0f0f0f;
    border: 1px solid #0f0f0f;

    &:hover {
      background-color: #0f0f0f;
      color: #fafafa;
      border: none;
    }
  }
}
