body {
    background-color: #ebebeb;
    padding: 20px 5%;
}

a {
    text-decoration: none;
    color: #0b0b0b;
}

h1 {
    font-family: "Open Sans Condensed", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}