.checkout-page {
  width: 60%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;

  .checkout-header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #989898;

    .header-block {
      text-transform: capitalize;
      text-align: center;
      width: 23%;
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 35px;
  }
}
