.collection-item {
  width: 90%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 320px;
  align-items: center;
  overflow: hidden;

  &:hover {
    box-shadow: -1px 1px 10px -2px rgba(0, 0, 0, 0.35);
    transition: transform .1s ease;
    transform: scale(1.05);
    cursor: pointer;
    border-radius: 5px;
  }

  .item-image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
  }

  .item-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: 5px 0;

    .item-name {
      padding-left: 3px;
    }

    .item-price {
      padding-right: 3px;
    }
  }
}